
@{
	ViewBag.Title = "Gestionar Configuraci&#243;n";		
}
<h2>Gestionar Configuraci&#243;n</h2>		
<br />
<div>
	<p>
	@Html.ActionLink("Administrar datos PAIS", "GestionarPais")
	</p>
	<p>
	@Html.ActionLink("Administrar datos DEPARTAMENTO", "GestionarDepartamento")
	</p>
	<p>
	@Html.ActionLink("Administrar datos CIUDAD", "GestionarCiudad")
	</p>
	<p>
	@Html.ActionLink("Administrar datos GENERO", "GestionarGenero")
	</p>
</div>
	
