@model AplicacionWeb.Models.Tipo_Producto

@{
	ViewBag.Title = "Eliminar Tipo de Producto";		
}
<h2>Eliminar Tipo de Producto</h2>		
<br />
<div>
	@using (Html.BeginForm())
	{
		<div class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-md-2">Nombre:</label>
				<div class="col-md-10">
				@Html.DisplayFor(model => Model.Nombre)
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">Descripci&#243;n:</label>
				<div class="col-md-10">
				@Html.DisplayFor(model => Model.Descripcion)
				</div>
			</div>
			<p>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Eliminar"  class="btn btn-default" />
				</div>
			</div>
			</p>
		</div>
	}
	<p>
	@Html.ActionLink("Volver al listado", "ConsultarTipo_Producto")
	</p>
</div>
	
