@model AplicacionWeb.Models.Departamento

@{
	ViewBag.Title = "Eliminar Departamento";		
}
<h2>Eliminar Departamento</h2>		
<br />
<div>
	@using (Html.BeginForm())
	{
		<div class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-md-2">Nombre: </label>
				<div class="col-md-10">
				@Html.DisplayFor(model => Model.Nombre)
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">Pais: </label>
				<div class="col-md-10">
				@Html.DisplayFor(model => Model.Pais.Nombre)
				</div>
			</div>
			<p>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Eliminar"  class="btn btn-default" />
				</div>
			</div>
			</p>
		</div>
	}
	<p>
	@Html.ActionLink("Volver al listado", "ConsultarDepartamentos")
	</p>
</div>
	
